body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, "sans serif";
    
}

.header {
    display: flex;

    background-color: #1F2937;
    padding: 16px 15vw;
}
.hero {
    flex: 1;
    min-height: 33vh;
}
.information {
    flex: 1;
    padding: 32px 15vw;
    min-height: 33vh;
    
}

.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text {
    max-width: 168px;
    text-align: center;
    font-weight: 300;
}

.quote-container {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 84px 15vw;
    min-height: 25vh;
    
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
    max-width: 800px;
}

.quote-author {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    align-self: flex-end;
    padding-right: 16px;
    max-width: 800px;
}

.signup {
    flex: 1;
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 60vw;
    max-width: 650px;
    padding: 2em 3em;
    color: #E5E7EB;
    border-radius: 8px;
    
}

.signup-box h3 {
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.signup-box button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 700;
    flex-shrink: 0;
    margin-left: 16px;
    height: 2.5em;
   
}

.footer {
    text-align: center;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 16px 0;
}

.header-links {
    display: flex;
    flex-shrink: 0;
    gap: 16px;
    align-items: center;

    list-style: none;
    margin: 0;
    padding: 0;
}

.header-logo {
    margin: 0 auto 0 0;
    color: #F9FAF8;
    font-size: 24px;
    white-space: nowrap;
    padding: 0 16px 0 0;

}

a {
    text-decoration: none;
    font-size: 18px;
    color: #F9FAF8;
}

img {
    width: 142px;
    height: auto;
}

.information h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}


